body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.title {
    font-size: 5vh;
    color: blue;
    text-align: center;
    padding-top: 1vh;
}

.sub {
    margin-left: 15%;
}

.insert {
    margin: auto;
    margin-left: 15%;
}

.insert div {
    display: inline-block;
}

.insert label {
    display: block;
}

.tableName {
    padding: 0 20px;
}

.tempMap {
    margin: auto;
    width: 85%;
    height: 80%;
    background-color: #8d8d8d;
}

.tempMap iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    margin: auto;
}

.query {
    text-align: center;
    width: 30%;
    height: 10%;
    margin: auto;
    padding-bottom: 80px;
}

